
.burger {
	
}
.burger__content {
		display: inline-flex;
		width: 20px;
		height: 20px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	position: relative;
	align-items: center;
	transition: all 0.2s;
}
.burger__content:hover{
	border-top: none;
	border-bottom: none;
}
.burger__content::after,
.burger__content::before{
	content: "";
	position: absolute;
	width: 20px;
	border: 1px solid #000;
	transition: all 0.2s;
}

.burger__content:hover:before{
	transform: rotate(45deg);
}
.burger__content:hover:after{
	transform: rotate(-45deg);
}
@media (any-hover:hover){
	
}



/* -----------stars-rating----CSS-------- */
.stars {
}
.stars__item {
}
.stars__lable {
}
.simple-rating {
	position: relative;
	font-size: 40px;
	display: inline-block;
	color: rgb(202, 217, 230);
	
}
.simple-rating::before{
	content: "★★★★★";
	display: block;
}
.simple-rating__items {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row-reverse;
	overflow: hidden;

}
.simple-rating__item {
	position: absolute;
	width: 0%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;

}
.simple-rating__label {
	font: 0 0 20%;
	height: 100%;
	cursor: pointer;
}
.simple-rating__label::before{
	content: "★";
	display: block;
	transition: color 0.3;
}
.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label{
	color: gold;
}
.simple-rating__label:hover:hover,
.simple-rating__label:hover:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover{
	color: gold;
}
//------STAR-RATING-HTML---- 
//   <form action="#" class="stars">
// <div class="stars__item">
// 	<div class="stars__lable">(55) Reviews</div>
// 	<div class="simple-rating">
// 		<div class="simple-rating__items">
// 			<input id="simple-rating_5" type="radio"
// 				class="simple-rating__item" name="simple-rating">
// 			<label for="simple-rating_5"
// 				class="simple-rating__label"></label>
// 			<input id="simple-rating_4" type="radio"
// 				class="simple-rating__item" name="simple-rating">
// 			<label for="simple-rating_4"
// 				class="simple-rating__label"></label>
// 			<input id="simple-rating_3" type="radio"
// 				class="simple-rating__item" name="simple-rating">
// 			<label for="simple-rating_3"
// 				class="simple-rating__label"></label>
// 			<input id="simple-rating_2" type="radio"
// 				class="simple-rating__item" name="simple-rating">
// 			<label for="simple-rating_2"
// 				class="simple-rating__label"></label>
// 			<input id="simple-rating_1" type="radio"
// 				class="simple-rating__item" name="simple-rating">
// 			<label for="simple-rating_1"
// 				class="simple-rating__label"></label>
// 		</div>
// 	</div>
// </div>
// </form> */ 
.lesson__link{
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	gap: 30px;
}
.lesson__page{
padding: 8px 30px;
border: 1px solid #3056D3;
border-radius: 4px;
font-weight: 500;
transition: 0.3s;
align-self: center;
}
.lesson__page:hover{
	background-color:#3056D3 ;
	color: wheat;
}
.lesson__page:active{
	transform: scale(0.95);
}
@media (max-width:420px){
	.lesson__link{
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}
.checkbox__item{
	position: relative;
}
.checkbox__item:not(:last-child){
	margin-bottom: 25px;
}
.checkbox__input{
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
}
.checkbox__label{
	cursor: pointer;
	display: inline-flex;
	align-items: flex-start;
	gap: 5px;
}
.checkbox__label::before{
	content: "";
	top: 0;
	left: 0;
	width: 22px;
height: 22px;
border: 0.7px solid #E7E7E7;
border-radius: 4px;
}
.checkbox__input:checked + .checkbox__label::before{
	background: url(../img/On.svg) 100% 100%/ cover no-repeat;
}